<div class="wealth-selector-container">
  <mat-form-field appearance="outline" class="wealth-selector">
    <mat-label>{{ "wealth.label" | translate }}</mat-label>

    <mat-select
      [formControl]="wealthLevelControl"
      [required]="required"
      [attr.aria-label]="'wealth.label' | translate"
    >
      <mat-option
        *ngFor="let option of wealthLevelOptions"
        [value]="option.value"
        [matTooltip]="getTooltipText(option)"
        matTooltipPosition="right"
        [class]="'wealth-option-' + option.value"
      >
        <div class="wealth-option-content">
          <!-- Icons removed for simplified display -->
          <div class="wealth-text">
            <div class="wealth-label">
              {{ getOptionLabel(option) }}
            </div>
          </div>
        </div>
      </mat-option>
    </mat-select>

    <!-- Remove prefix icon for cleaner look -->
  </mat-form-field>

  <!-- Penny range display below dropdown -->
  <div class="penny-range-display" *ngIf="showPennyRanges">
    {{ getPennyRangeText() }}
  </div>
</div>
